<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>相亲数据搜索</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div id="total1">
    <div class="main">
        <div style="text-align: center">
            <form method="get" action="search">
                <input class="inp" type="text" placeholder="请输入关键词" name="q" class="text" value="{{.Query}}"/>
                <input id="qstnMark" type="submit" value="搜索" class="search">
            </form>
        </div>
        <div class="table">
            <table id="table1" cellspacing="0px">
                {{range .Items}}
                <tr class="tableTitle" align="center">
                    <td class="col1"><a href="{{.Url}}">{{.Payload.Name}}</a></td>
                    {{with .Payload}}
                    <td>{{.Gender}}</td>
                    <td>{{.Age}}</td>
                    <td>{{.Height}}</td>
                    <td>{{.Income}}</td>
                    <td>{{.Marriage}}</td>
                    <td>{{.Education}}</td>
                    <td>{{.Place}}</td>
                    <td>{{.Introduce}}</td>
                    {{end}}
                </tr>
                {{else}}
                <div>没有找到相关用户</div>
                {{end}}
            </table>
        </div>
        <div id="lowerLbl" align="center">
            <p>共</p>
            <p id="rowsNum">{{.Hits}}</p>
            <p>条</p>
            {{if ge .PrevFrom 0}}
            <a class="btn" href="search?q={{.Query}}&from={{.PrevFrom}}">上一页</a>
            {{end}}
            <button id="pno" style="background-color: #5899ce; color: white">{{add .Start (len .Items)}}</button>
            <a class="btn" href="search?q={{.Query}}&from={{.NextFrom}}">下一页</a>
        </div>
    </div>
</div>
</body>
</html>